name: codespace permissions test

on:
  workflow_dispatch:

# permissions:
#     codespaces: write

jobs:
  test-codespace-permissions:
    runs-on: ubuntu-latest
    steps:
      - name: Authenticate gh CLI with GITHUB_TOKEN
        env:
          CODESPACES_GITHUB_TOKEN: ${{ secrets.CODESPACES_GH_TOKEN }}
        run: |
          echo "${CODESPACES_GITHUB_TOKEN}" | gh auth login --with-token

      - name: Check GH CLI codespace permissions
        run: gh codespace list
