name: codespace permissions test

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/scripts/measure-codespace.sh'
      - '.github/workflows/test-permissions.yml'

# permissions:
#     codespaces: write

jobs:
  test-codespace-permissions:
    runs-on: ubuntu-latest
    steps:
      - name: Authenticate gh CLI with GITHUB_TOKEN
        env:
          CODESPACES_GITHUB_TOKEN: ${{ secrets.CODESPACES_GH_TOKEN }}
        run: |
          echo "${CODESPACES_GITHUB_TOKEN}" | gh auth login --with-token

      - name: Check GH CLI codespace permissions
        run: gh codespace list

      # - name: Create codespace (test)
      #   env:
      #     GITHUB_REPO: markpatterson27/devcontainer-tests
      #   run: |
      #     gh codespace create --repo $GITHUB_REPO --machine standardLinux32gb --devcontainer-path .devcontainer/Ubuntu/devcontainer.json

      # - name: List codespaces after creation
      #   run: gh codespace list

      - name: Run Codespace Measure
        env:
          GITHUB_REPO: markpatterson27/devcontainer-tests
          DEVCONTAINER_PATH: .devcontainer/Ubuntu/devcontainer.json
          CODESPACE_MACHINE: standardLinux32gb
          ITERATIONS: 5
        run: |
          ./github/scripts/measure-codespace.sh
